.foodlist_img {
  width: 20vw;
  height: 20vh;
  border: 2px solid orange;
  border-radius: 10px;
}

.card_foodlist {
  padding: 1%;
  background: #fdfafa;
  border-bottom-right-radius: 10px;
  border-right: 2px solid #414141;
  border-bottom: 2px solid #414141;
}

.input_box {
  box-sizing: border-box;
  width: 70%;
  height: 50px;
  background: #ffffff;
  border: 1px solid #bcbec0;
  border-radius: 10px;
}

.input_label {
  margin-left: 15%;
}

.button_submit {
  height: 50px;
  /* background: #003465; */
  border-radius: 10px;
  color: white;
  /* width: 90px; */
  /* margin-left: 12px; */
}

.modal {
  --bs-modal-width: 700px;
}

.review_img {
  width: 10vw;
  height: 10vh;
  border: 2px solid orange;
  border-radius: 50%;
}

@media only screen and (max-width: 1199px) {
}
@media only screen and (min-width: 992px) {
    .card_foodlist {
        height: 44vh;
    }
}
@media only screen and (min-width: 767px) {
    .foodlist_img {
        width: 30vw;
        height: 30vh;
      }

      .card_foodlist {
        height: 50vh;
    }
}