.wrapFood {
    /* Frame 25 */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 25px;
gap: 10px;

position: absolute;
width: 307px;
height: 474px;
left: 573px;
top: 1726px;

background: #F8F8F8;
border-radius: 10px;
}

.foodlist_img {
    width: 256px;
height: 256px;

border-radius: 10px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.card {
justify-content: center;
align-items: center;
padding: 25px;
gap: 10px;
/* width: 307px; */
height: 474px;
background: #F8F8F8;
border-radius: 10px;
}

.card_list {
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 10px;
    /* width: 307px; */
    height: 600px;
    background: #F8F8F8;
    border-radius: 10px;
    }

    .input_box {
        /* Rectangle 1381 */
    
    
    box-sizing: border-box;
    
    /* position: absolute; */
    width: 70%;
    height: 50px;
    /* left: calc(50% - 500px/2 + 1px);
    top: calc(50% - 50px/2 - 132px); */
    
    background: #FFFFFF;
    border: 1px solid #BCBEC0;
    border-radius: 10px;
    }
    
    .input_label {
        margin-left: 15%;
    }
    
    .button_submit {
        /* Rectangle 1383 */
    
    
    /* position: absolute;
    width: 500px; */
    height: 50px;
    /* left: calc(50% - 500px/2 + 4px);
    top: calc(50% - 50px/2 + 97px); */
    /* margin-left: 15%; */
    background: #003465;
    border-radius: 10px;
    color: white;
    }
    
.modal {
    --bs-modal-width: 700px;
}