.cardHome {
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 10px;
    /* width: 307px; */
    height: 520px;
    background: #f0f0f0;
    border-bottom-right-radius: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 3px solid slategrey;
    border-bottom: 2px solid slategrey;
    }

.cardHome:hover {
    background: orange;
    opacity: 90%;
}

@media only screen and (min-width: 420px) {
    .cardHome {
        height: 50vh;
    }

    .card .h6 {
        font-size: 12px;
    }
}