body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', sans-serif;
}

#tD_none {
  text-decoration: none;
  color: black;
}

#tD_none:hover {
  color: orange;
}

.footer {
  border-top: 3px solid;
  color: black;
  display: grid;
  bottom: 0;
  position: relative;
  /* height: 25vh; */
}